body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecedf8;
    user-select: none;
    
}

html{
    scrollbar-width: thin;
}


.scrollbarOf{
    scrollbar-width: none;
}
.scrollbarOf2{
    scrollbar-width: thin;
}


table thead tr th{
    border: 1px solid  #ecedf8;
    padding: 15px 0px;
    text-align: center;
}
table tbody tr td{    
    border-bottom:  0.5px solid  #ecedf8;
}

